* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
body {
  background-color: #45687b;
  font-family: "opensans-bold", sans-serif;
  color: rgb(26, 25, 25);
} /* body styles property */
nav {
  display: flex;
  position: fixed;
  top: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-height: 48px;
  width: 100%;
  text-align: center;
  padding: 10px 0px 0px 0px;
  background-color: rgba(26, 25, 0, 0.4);
}
nav a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #ffffff;
  padding: 8px 13px;
  margin: auto;
  height: 48px;
  display: block;
}
a{
  color: white;
}

 /* navigation bar styles */

.scroll {
  height: 40px;
  width: 40px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* to center the item  */
  margin: 100px auto;
}
.scroll::after {
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}
.lang {
  position: absolute;
  right: 0px;
}
.lang button {
  outline: none;
  border: none;
  border-right: 2px solid white;
  padding: 5px;
  font-size: 12px;
  text-transform: capitalize;
  color: white;
  background-color: rgb(26, 25, 25);
  font-weight: 600;
  cursor: pointer;
}

.opened {
  color: #e96d00ea;
}
.opened:hover {
  color: #e96d00ea;
}
/* .title {
  position: relative;
  min-height: 655px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-image: url("./photos/profile1.jpg");
  background-color: rgba(0, 128, 0, 0.205);
  padding: 70px 0px 0px 0px;
} */
.title {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-image: url("photos/profile1.JPG");
  background-color: rgba(0, 128, 0, 0.205);
  padding: 70px 0px 10px 0px;
}
.title > h1 {
  font-size: 78px;
  color: #e96d00ea;
  margin: 0px auto 18px auto;
  width: 80%;
}
.title > h3 {
  text-transform: capitalize;
  font-family: "librebaskerville-regular", serif;
  margin: 0px auto 18px auto;
  width: 80%;
  line-height: 2;
  letter-spacing: 5px;
}
.title > h3 > span {
  color: #e96d00ea;
}
.media {
  font-size: 22px;
  text-align: center;
  padding: 50px;
}
.media a {
  color: rgb(26, 25, 25);
  padding: 10px;
}
.element {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  padding: 50px;
}
.img {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 5px rgb(95, 95, 95);
  border: 10px ridge rgb(26, 25, 25);
  box-sizing: border-box;
  margin: auto;
  transition: 0.5s ease-in all;
}
.texts {
  width: 100%;
  padding: 10px;
  letter-spacing: 1.3px;
  line-height: 1.3;
  margin: auto;
  border-right:10px dotted grey;
  border-left:10px dotted grey;
}
.texts h1 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 2;
  width: max-content;
  margin: 10px auto;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}
.el3-obj {
  position: relative;
  width: 440px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: rgba(26, 25, 0, 0.4);
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  opacity: 0.8;
  /* to align in center of the screen */
  margin: auto;
}
.el3-obj::after,
.el3-obj::before {
  content: "";
  position: absolute;
  background-color: rgba(26, 25, 0, 0.4);
  width: 440px;
  height: 500px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 60%), inset 0 0 30px rgb(0 0 0 / 20%);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  opacity: 0.8;
}
.el3-obj::after {
  top: 0px;
  left: 0px;
  z-index: -2;
  transform: rotate(2deg);
}
.el3-obj::before {
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: rotate(1deg);
}
.makebig{
  position: absolute;
  top:0px;
  left:0px; 
  height:max-content;
  width: 100%;
  z-index: 1;
  transition: 0.5s ease-in all;
}

.tagline{
height: auto;
width: max-content;
text-transform: uppercase;
border-top: 5px dotted aliceblue;
border-bottom: 5px dotted aliceblue;
border-radius: 10%;
margin: auto;
}
#work{
  display: block;
  height: 70px;
  width: 100%;
}
/* css for mywork.html */
.three {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 60px;
}
.el1-img {
  position: relative;
  min-height: 10px;
  width: 300px;
  border: 10px ridge #e96d00ea;
  color: white;
  text-align: center;
  margin-top: 2px;
  transition: 0.8s ease-in all;
}
.thisImg{
  width: 100%;
  height: 100%;
}
.el1-img > h2 {
  margin: 0px;
}
.back_details {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  clip-path: polygon(0% 0%, 0% 0%, 0% 50%, 0% 100%, 0% 100%);
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.2));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: clip-path 0.3s ease;
}
.back_details > button {
  background-color: #e96c00;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}
.el1-img:hover .back_details {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.zoom{
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:1;
  border: 10px ridge #e96c00;
  transition: 0.8s ease-in all;
}

/* fourth segment element */
.four{
  grid-template-columns: 10% auto;
}
.four > h2{
  border-right: 4px solid rgb(26, 25, 25);
width: 100%;
height: max-content;
margin: auto;
}
/* skill bar wrapper */
.skill-bar-wrapper{
  position: relative;
  width: 100%;
  height:35px;
  background-color: rgb(211, 211, 211);
  margin:10px 0px;
  border-radius: 3px;
}
.skill-bar-fill{
  height: 100%;
  width: 20%;
  border-radius: 3px;
}
.skill-bar-tag,
.skill-bar-percentage{
  position: absolute;
}
.skill-bar-tag{
  background-color: green;
  height: 35px;
  width: 10%;
  font-weight: bold;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.skill-bar-percentage{
  right:10px;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .title > h1{
    font-size: 20px;
  }
  .title > h3{
    width: 40%;
    font-size: 14px;
  }
  .media{
    padding: 20px;
  }
  .scroll{
    margin: 10px auto;
  }
  /*  heading of title section */
  .three {
    margin: auto;
    width: max-content;
}
/* third section */
.element{
  grid-template-columns: auto;
}
/* all section */
.el3-obj,
.el3-obj::after,
.el3-obj::before{
  width: 250px;
height: 350px;
}
/* photo of mahadev */

}
